
p.parrafo{
    width: 75%;
}

p.parrafo.izquierda{
    text-align: left;
    padding: 0 0 0 150px;

}
p.parrafo.derecha{
    margin-top: 80px;
    text-align: right;
    padding: 0;
}

img.aboutus-imagen{
    margin-left: 150px;
    margin-top: 50px;
    height: 300px;
    width: 350px;
    box-shadow: black 15px 15px 15px ;
}

@media(max-width: 480px){
    p.parrafo{
       width: 95%;
    }
    p.parrafo.izquierda {
        margin-top:0;
        text-align: left;
        padding: 0px 0 0 42px;
    }
    p.parrafo.derecha{
        margin-top: 391px;
        text-align: right;
        padding: 0 20px 0 0;
    }
    img.aboutus-imagen{
        margin-left: 0;
        margin-top: 227px;
        height: 150px;
        width: 200px;
        box-shadow: black 15px 15px 15px;
    }
}