
.column-1{

}
p.parrafo{
    width: 75%;
}

p.parrafo.izquierda{
    text-align: left;
    padding: 0 0 0 150px;

}
p.parrafo.derecha{
    margin-top: 80px;
    text-align: right;
    padding: 0;
}

img.aboutus-imagen{
    margin-left: 150px;
    margin-top: 50px;
    height: 300px;
    width: 350px;
    box-shadow: black 15px 15px 15px ;
}